.desktop_footer {
    padding: 40px;
    height: 400px;
}

.footer_container {
    display: flex;
    flex-direction: row;
    padding: 0 80px;
    gap: 80px;
    height: 300px;
    align-items: center;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 640px;
}

form {
    display: flex;
    gap: 16px;
    width: 100%;
}

input {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;
}

button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.links {
    display: flex;
    gap: 80px;
    align-items: flex-start;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.list-item a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

a {
    display: flex;
    gap: 4px;
    color: black;
}

p {
    font-size: 14px;
    color: #333;
}

.about,
.services,
.follow {
    font-weight: bold;
    font-size: 16px;
    margin-top: inherit;
    width: 80px;
}

image {
    display: flex;
    align-self: flex-start;
}

.mobile_footer {
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
    width: 100%;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: auto;
    margin: 0 auto 40px;
}

.footer-logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer-nav a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #007bff;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.footer-social a {
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #007bff;
}

.footer-divider {
    border-top: 1px solid #000;
    margin: 1.5rem 0;
    z-index: 100;
}

.footer-info {
    font-size: 0.9rem;
    color: #666;
}

.footer-info p {
    margin-bottom: 24px;
}

.footer-info nav {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.footer-info a {
    white-space: nowrap;
}

.copy_right {
    width: fit-content;
}

@media (max-width: 1024px) {
    .desktop_footer {
        display: none;
    }

    .copy_right {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: fit-content;
    }

    .footer_container {
        display: block;
    }

    .mobile_footer {
        display: inline-flex;
        gap: 24px;
    }
}

@media (min-width: 1024px) {
    .desktop_footer {
        display: block;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        padding: 0 80px;
    }

    .mobile_footer {
        display: none;
    }
}