#banner {
  height: 54px;
  padding: 0 4rem;
  align-content: center;

  .container {
    display: flex;
    height: 30px;
    justify-content: space-between;

    .informations {
      display: flex;
      height: 100%;

      div {
        padding: 0 1rem;
        border-left: 1px solid black;
        border-right: none;
        border-top: none;
        border-bottom: none;
        align-content: center;

        &:first-child {
          border-left: none;
          padding-left: 0;
        }
      }
    }

    .contacts {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      img {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #banner {
    display: none;
  }
}